#pixelDiv {
    display: flex;
    justify-content: flex-start;
}

.grid { 
    order:2;
    margin-left:20px; 
    border-collapse:collapse 
}

.grid td {
    cursor:pointer;
    width:20px; 
    height:20px;
    border:1px solid #ccc;
    text-align:center;
    font-family:sans-serif; 
    font-size:13px
}

.colorDiv {
    cursor: pointer;
    border: 1px solid #999;
}

.colorRow {
    display: flex;
}

.colorSquare {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 20px;
    height: 20px;
}

#clearButton {
    position: absolute;
    margin-top: 10px;
}

#eraseButton {
    position: absolute;
    margin-top: 35px;
}

#saveButton {
    position: absolute;
    margin-top: 60px;
}

#loadButton {
    position: absolute;
    margin-top: 85px;
}

#changeGridInput {
    position: absolute;
    margin-top: 110px;
    width: 25px
}

#changeGridButton {
    position: absolute;
    margin-top: 135px;
}